body {
	--metadata-label-width: 10em;
}

.theme-dark {
	--shadow-s: transparent;
	--shadow-l: transparent;
}

/* Fix padding in tab header */
.workspace-split:not(.mod-sidedock) .workspace-tab-header-container {
	padding-left: 0px;
	
    .workspace-tab-header-container-inner {
		padding: 0px 5px;
		
		.workspace-tab-header {
			padding: 0px;
		}
	}
	
	.workspace-tab-header-new-tab {
		padding: 5px;
	}
}

/* Left align icons */
.nav-buttons-container,
.view-actions,
.workspace-tab-header-inner,
.side-dock-settings,
.side-dock-actions {
	justify-content: left;
}

/* Hide Mobile Navbar */
.mobile-navbar {
	display: none;
}

/* Fix icon color on mobile */
.clickable-icon {
	--icon-color: var(--tx2);
	--icon-color-hover: var(--tx2);
	--icon-color-active: var(--tx1);
	--icon-color-focus: var(--tx1);
}

/* Fix Bookmark icon color */
.view-action.mod-bookmarked {
	--icon-color: var(--text-normal);
}

/* https://docs.obsidian.md/Reference/CSS+variables/Components/Multi-select */
.metadata-property-value .multi-select-pill {
	--pill-padding-x: 8px;
	--pill-padding-y: 0px;
	
	/* Add underline to links in Bases */
	&.internal-link,
	&.internal-link:hover {
		text-decoration-line: var(--link-decoration);
	}
	
	/* pretty-properties plugin */
	&:not(.internal-link) {
		color: rgba(var(--pill-color-rgb), 1);
	}
}

/* Folder Notes Plugin */
.folder-note-underline .has-folder-note .nav-folder-title-content {
	text-decoration-color: unset;
}