.theme-dark {
	--shadow-s: transparent;
	--shadow-l: transparent;
	
	/* --metadata-input-font: var(--font-text-override); */
}

.workspace-split:not(.mod-sidedock) .workspace-tab-header-container {
	padding-left: 0px;
	
    .workspace-tab-header-container-inner {
		padding: 0px 5px;
		
		.workspace-tab-header {
			padding: 0px;
		}
	}
	
	.workspace-tab-header-new-tab {
		padding: 5px;
	}
}

/* Left align icons */
.nav-buttons-container, .view-actions, .workspace-tab-header-inner, .side-dock-settings, .side-dock-actions {
	justify-content: left;
}

/* Hide Mobile Navbar */
.mobile-navbar {
	display: none;
}

/* Fix icon color on mobile */
.clickable-icon {
	--icon-color: var(--tx2);
	--icon-color-hover: var(--tx2);
	--icon-color-active: var(--tx1);
	--icon-color-focus: var(--tx1);
}

/* Property Pills */
.metadata-property-value .multi-select-pill {
	/* https://docs.obsidian.md/Reference/CSS+variables/Components/Multi-select */
	--pill-background: var(--color-base-30);
	--pill-background-hover: var(--color-base-30);
	--pill-padding-x: 8px;
	--pill-padding-y: 0px;
}

/* Change table background and border */
.bases-thead, .bases-tbody, .bases-embed .bases-view {
	--bases-table-header-background: var(--background-primary);
	--bases-table-header-background-hover: var(--background-primary);
	--bases-embed-border-color: var(--background-modifier-border);
	--bases-table-border-color: var(--background-modifier-border);
	--table-border-color: var(--background-modifier-border);
	--bases-cards-group-padding: var(--size-4-2);
	
	background-color: var(--background-primary);
}

.bases-cards-item {
	background-color: var(--color-base-10);
}

/* Fix Bookmark icon color */
.view-action.mod-bookmarked {
	--icon-color: var(--text-normal);
}

/* Folder Notes Plugin */
.folder-note-underline .has-folder-note .nav-folder-title-content {
	text-decoration-color: unset;
}

/* Hide Header Sort icon */
.bases-table-header-sort {
	display: none;
}
.bases-thead .bases-td[data-sort] .bases-table-header {
	mask-image: none;
}
.bases-thead .bases-td[data-sort] .bases-table-header-name {
	padding-inline-end: 0;
}
/* Disable Header interaction */
.bases-thead {
	pointer-events: none;
}