 .callout[data-callout|="chatgpt"] {
    margin: var(--size-4-8) 0;
    background-color: unset;
    box-shadow: unset;
    mix-blend-mode: unset;
}

.callout[data-callout="chatgpt-prompt"] .callout-title {
    display: none;
}

.callout[data-callout="chatgpt-prompt"] .callout-content {
    display: flex;
    flex-direction: column;
}

.callout[data-callout="chatgpt-prompt"] .callout-content > * {
    display: inline-block;
    max-width: 70%;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-left: auto;
    padding: 0.25rem 1rem;
    text-align: left;
    background-color: var(--background-secondary);
    border-radius: 1.5rem;
}