.view-content .max {
    --file-line-width: 100%;
}

.hide-metadata {
    --metadata-display-editing: none;
    --metadata-display-reading: none;
}

/* changes the color of internal links in callout titles to the callout color */
.callout-title-color {
    .callout-title-inner > .internal-link {
        color: var(--callout-title-color);
        text-decoration-line: underline;
    }
}

/* Hides the toolbar items Sort, Filter and Properties for Bases */
.hide-bases-toolbar {
    .bases-toolbar-item {
        display: none;
        
        &.bases-toolbar-views-menu, &.bases-toolbar-result-count, &.bases-toolbar-new-item-menu {
            display: block;
        }
    }
}