/* Excalidraw overwrites these variables
 * https://minimal.guide/plugins/style-settings
 */
.theme-dark {
	--theme-bg1: var(--background-primary, var(--color-base-10));
	--theme-bg2: var(--background-secondary, var(--color-base-00));
	--theme-bg3: var(--interactive-hover, var(--color-base-20));
	--theme-tx1: var(--text-normal, var(--text-normal));
	--theme-tx2: var(--text-muted, var(--text-muted));
	--theme-ui1: var(--divider-color, var(--color-base-20));
	--theme-ax1: var(--color-accent);
	--theme-ax2: var(--color-accent);
	--theme-ax3: var(--color-accent);
}

.excalidraw {
	--space-factor: 0.35em;
	
	--button-active-bg: var(--theme-bg3) !important;
	--button-gray-2: var(--theme-ax1) !important;
	--button-hover-bg: var(--theme-bg3) !important;
	--button-selected-bg: var(--theme-ax1) !important;
	--button-selected-border: transparent !important;
	--color-brand-active: unset !important;
	--color-gray-50: var(--theme-bg1) !important;
	--color-gray-70: var(--theme-tx2) !important;
	--color-on-primary-container: var(--theme-tx1) !important;
	--color-on-surface: var(--theme-tx2) !important;
	--color-primary: var(--theme-ax1) !important;
	--color-promo: var(--theme-ax1) !important;
	--color-surface-high: var(--theme-bg3) !important;
	--color-surface-low: var(--theme-bg3) !important;
	--color-surface-lowest: var(--theme-bg1) !important;
	--color-surface-mid: var(--theme-bg3) !important;
	--color-surface-primary-container: var(--theme-ax1) !important;
	--default-bg-color: var(--theme-bg1) !important;
	--default-border-color: var(--theme-ui1) !important;
	--icon-fill-color: var(--theme-tx1) !important;
	--island-bg-color: var(--theme-bg1) !important;
	--keybinding-color: var(--theme-tx2) !important;
	--popup-secondary-bg-color: var(--background-secondary) !important;
	--popup-text-color: var(--theme-tx1) !important;
	--sidebar-bg-color: var(--theme-bg2) !important;
	--sidebar-border-color: var(--theme-ui1) !important;
	--text-primary-color: var(--theme-tx1) !important;
}

/* Fix Baseline Immersive view */
body:not(.mobile-stable).is-phone .mobile-navbar,
body:not(.mobile-stable).is-phone .mobile-toolbar {
	position: absolute !important;
}

/* Fix screen shifting when context menu would overflow the bottom */
.workspace-leaf:has(.excalidraw) {
	overflow: visible;
}

/* Make top and bottom bars use the same padding */
.excalidraw .Island.App-toolbar
.excalidraw .Island.App-bottom-bar {
	padding: var(--space-factor) !important;
}

/* Fix padding for zoom controls */
.excalidraw .tray-zoom {
	padding: 0;
}

/* Fix Undo/Redo buttons */
.excalidraw .zoom-button,
.excalidraw .undo-redo-buttons button {
	width: 100%;
	height: 100%;
}

/* Consistent Context Menu */
.excalidraw .context-menu {
	margin: 0;
	padding: var(--size-2-3);
	border-radius: var(--radius-m);
	border: 1px solid var(--background-modifier-border-hover);
	
	.context-menu-item {
		padding: 6px 8px;
		border-radius: var(--radius-s);
		
		&:hover {
			background-color: var(--background-modifier-hover);
		}
		
		& .context-menu-item__shortcut {
			padding: 0; /* fix shortcut height */
			border: unset;
			background: transparent;			
			/* Hide context menu shortcut if empty.
			   Only useful if background isn't transparent .*/
			&:empty {
				display: none;
			}
		}
	}
	
	/* Menu Seperator */
	.context-menu-item-separator {
		height: 0 !important;
		margin: var(--size-2-3) calc(var(--size-2-3) * -1) !important;
		border-top: 1px solid var(--background-modifier-border) !important;
	}
}

/* Make button sizes consistent */
.excalidraw .ToolIcon__icon {
	height: var(--default-button-size) !important;
	width: var(--default-button-size) !important;
	
	/* Fix sidebar button border radius */
	border-radius: var(--border-radius-lg) !important;
}

/* Make gap sizes consistent */
.excalidraw .App-toolbar .Stack,
.excalidraw .App-bottom-bar .App-toolbar-content {
	gap: var(--space-factor);
}

/* Fix Undo/Redo buttons not aligning horizontally */
.excalidraw .App-toolbar-content > div {
	display: flex;
}

/* Fix toolbar style */
.excalidraw .App-bottom-bar {	
	width: unset; /* Fix mobile width */
	margin: 10px !important; /* consistent margin */
	
	.ToolIcon_type_button {
		height: 100%;
	}
	
	/* Hide buttons if empty */
	.ToolIcon__icon:empty {
		display: none;
	}
	
	.reset-zoom-button {
		padding: 0 0 !important;
		width: unset !important;
	}
}

.excalidraw .dropdown-menu-button:hover {
	background-color: var(--button-hover-bg) !important;
}

/* Fix Dropdown menu width */
.excalidraw .dropdown-menu {
	width: unset;
	
	.dropdown-menu-item {
		padding: 6px 8px;
		&:hover {
			background-color: var(--button-hover-bg) !important;
		}
	}
	
	div[data-testid="canvas-background-label"] {
		padding: 0px 8px;
		margin-bottom: 0.25em !important;
	}
	
	.color-picker-container {
		/* Hide separator */
		& > div:nth-child(2) {
			display: none;
		}
		/* Hide currently selected background color */
		.color-picker__button.active-color {
			display: none;
		}
	}
}

/* Hide Help button */
.excalidraw .help-icon {
	display: none;
}

/* Hide toolbar in mobile view */
.excalidraw--mobile .App-bottom-bar {
	display: none;
}

/* Remove 1px padding on the left and right */
.workspace-leaf-content .excalidraw-view {
	padding: 0;
}