/* Right Sidebar */
.workspace-tab-header-container,
.workspace-tabs .workspace-leaf {
	background-color: var(--bg2);
}

/* Hide Mobile Navbar */
.mobile-navbar {
	display: none;
}

/* Fix icon color on mobile */
.clickable-icon {
	--icon-color: var(--tx2);
	--icon-color-hover: var(--tx2);
	--icon-color-active: var(--tx1);
	--icon-color-focus: var(--tx1);
}

/* Fix Commander button size on mobile */
.is-mobile .nav-buttons-container .clickable-icon {
	flex-grow: 1;
}

/* Mobile Files height */
.is-mobile .tree-item-self {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

/* Remove Mobile backdrop */
.is-mobile .workspace-drawer-backdrop {
	display: none;
}