/* Tweaks and adjustments for the Pretty Properties plugin */
body {
	--pill-background: var(--interactive-hover);
	--pill-background-hover: var(--interactive-hover);
	--pill-color-remove: var(--text-normal);
}

/* Style all list elements like pills */
.value-list-element {
	background-color: var(--pill-background);
	padding: 0 var(--pill-padding-x);
	border: var(--pill-border-width) solid var(--pill-border-color);
	border-radius: var(--pill-radius);
}
